<!DOCTYPE html>
<html lang="en">

<head>
  <title>블로그</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  {{>/layout/header}}
  <!--컨테이너 시작-->

  현재 페이지 번호 : {{posts.number}} <br/>
  첫 페이지 : {{posts.first}} <br/>
  마지막 페이지 : {{posts.last}} <br/>

  <div class="container mt-3">
    <!--게시글 아이템 시작-->
    {{#posts.content}}
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <a href="/post/{{id}}" class="btn btn-dark">상세보기</a>
      </div>
    </div>
    <!--게시글 아이템 끝-->
    {{/posts.content}}

    {{#posts.first}}
    <ul class="pagination justify-content-center">
      <li class="page-item disabled"><a class="page-link" href="?page={{prevPage}}">이전</a></li>
      <li class="page-item"><a class="page-link" href="?page={{nextPage}}">다음</a></li>
    </ul>
    {{/posts.first}}
    {{^posts.first}}
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="?page={{prevPage}}">이전</a></li>
      <li class="page-item"><a class="page-link" href="?page={{nextPage}}">다음</a></li>
    </ul>
    {{/posts.first}}

    {{#posts.last}}
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="?page={{prevPage}}">이전</a></li>
      <li class="page-item disabled"><a class="page-link" href="?page={{nextPage}}">다음</a></li>
    </ul>
    {{/posts.last}}
    {{^posts.last}}
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="?page={{prevPage}}">이전</a></li>
      <li class="page-item"><a class="page-link" href="?page={{nextPage}}">다음</a></li>
    </ul>
    {{/posts.last}}
  </div>
  <!--컨테이너 끝-->

  {{>/layout/footer}}