<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글쓰기 페이지 입니다.</h1>
    <hr />
 <!--여러가지 데이터를 한 번에 보내고 싶을 때-->
    <form action="/post" method="post"> 
        <input type="text" name="title" placeholder="title" />
        <input type="text" name="content" placeholder="enter content" />
        <button type="submit">글쓰기 완료</button>
    </form>
</body>
</html>